<div class="col-xs-8 col-xs-offset-2 page">
<h1>Personal Info</h1>
<div class="well">
<form method="POST" action="/auth/signup2">
    <div class="form-group">
        <label for="bio" class="label">Bio</label>
        <input type="text" name="bio" class="form-control" placeholder="Use this to say anything you want others to know about you.">
    </div>
    <div class="form-group">
        <label for="area" class="label">Area</label>
        <input type="text" name="area" class="form-control" placeholder="Where are you looking to live?">
    </div>
    <div class="form-group">
        <input type="date" name="dob">
        <label for="dob" class="label">Date of Birth</label>
    </div>
    <div class="form-group">
        <select name="gender" id = "gender">
            <option value = "0">Prefer not to say</option>
            <option value = "1">Male</option>
            <option value = "2">Female</option>
        </select>
        <label for="gender" class="label">What do you identify as?</label>
    </div>
    <div class="form-group">
        <select name="cleanliness" id = "cleanliness">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
            <option value = "6">6</option>
            <option value = "7">7</option>
            <option value = "8">8</option>
            <option value = "9">9</option>
            <option value = "10">10</option>
        </select>
        <label for="price" class="label">How clean are you? (1-10)</label>
    </div>
    <div class="form-group">
        <label for="pets" class="label">Pet Info</label>
        <input type="text" name="pets" class="form-control" placeholder="If any, what kind of animals do you have?" required>
    </div>
    <div class="form-group">
        <select name="smokes" id = "smokes">
            <option value = "0">No</option>
            <option value = "1">Yes</option>
        </select>
        <label for="smoking" class="label">Do you smoke?</label>
    </div>
    <div class="form-group">
        <select name="occupation" id ="occupation">
            <option value = "Professional">Professional</option>
            <option value = "Service">Service</option>
            <option value = "Corporate">Corporate</option>
            <option value = "Entrepenuer">Entrepenuer</option>
            <option value = "Unemployed">Unemployed</option>
        </select>
        <label for="occupation"  class="label">What do you do?</label>
    </div>
    <input type="submit" class="btnwhite">
    </form>
    </div>
    </div>