<div class="loginContent animated">
    <form method="POST" action="/auth/profile">
        
        <input type="text" name="email" id="pass" class="input" placeholder="Type your email">
        <label for="password" class="label"></label>
        <input type="password" name="password" id="password" class="input" placeholder="Type your password">
        <input type="submit" class="btn btngrey" value="Go">
    </form>
</div>
