
<% if(currentUser) { %>
    <div class="login col-xs-3 col-xs-offset-3">
        <h3><%- currentUser.fname + " " + currentUser.lname %></h3>
    </div>
    <% } else { %>
    <div class="login login-form col-xs-6 col-xs-offset-0 col-lg-4 col-lg-offset-2">
            <form method="POST" action="/auth/profile">
                <div>
                    <label for="email">LOGIN</label>
                    <input type="text" name="email" id="pass" class="input" placeholder="Type your email">
                    <label for="password" class="label"></label>
                    <input type="password" name="password"  id="pass" class="input" placeholder="Type your password">
                    <input type="submit" class="btn btngrey" value="Go">
                </div>
            </form>
        </div>
<%   } %>
