<!DOCTYPE html>
<html lang="en">

<head>
    <title>Roommate Site</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/js/animatescroll.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
        <div class="header row">
        <div class="logoNav col-xs-1">
        <i class="fa fa-bed" aria-hidden="true"></i>
        </div>
            <div class="nav nav-center col-xs-5">
                <a href="/" class="btn btngrey">Home</a>
                <% if(currentUser) { %>
                        <a href="/search" class="btn btngrey">Search</a>
                        <a href="/profile" class="btn btngrey">Profile</a>
                        <a href="/auth/logout" class="btn btngrey">Logout</a>
                    <% } else { %>
                        <a href="/auth/signup" class="btn btngrey">Signup</a>
                    <% } %>
            </div>
                <% include partials/login %>
        </div>
            
        <div class="row topRow">
            <div class="col-xs-12">
                <%- body %>
            
            </div>
        </div>

        <div class="row bottomRow">
            <div class="col-xs-12">
                <i class="fa fa-github" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
        </div>

</body>

</html>