<div class="col-xs-8 col-xs-offset-2 page">
<h1>Personal Info</h1>
<form method="POST" action="/auth/signup2">
    <div class="form-group">
        <label for="bio"></label>
        <input type="text" name="bio" value="<%= currentUser.bio %>" class="form-control" placeholder="Tell us about you.">
    </div>
    <div class="form-group">
        <label for="area"></label>
        <input type="text" name="area" class="form-control" value="<%= currentUser.area %>" placeholder="Where are you looking to live?">
    </div>
    <div class="form-group">
        <select name="gender" id = "gender">
            <option value = "0">Prefer not to say</option>
            <option value = "1">Male</option>
            <option value = "2">Female</option>
        </select>
        <label for="price">What do you identify as?</label>
    </div>
    <div class="form-group">
        <select name="price" id = "priceRange">
            <option value = "1"> < $500</option>
            <option value = "2">$500 - $600</option>
            <option value = "3">$601 - $700</option>
            <option value = "4">$701 - $800</option>
            <option value = "5"> > $801</option>
        </select>
        <label for="price">What can you pay per month?</label>
    </div>
    <div class="form-group">
        <select name="cleanliness" id = "cleanliness">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
            <option value = "6">6</option>
            <option value = "7">7</option>
            <option value = "8">8</option>
            <option value = "9">9</option>
            <option value = "10">10</option>
        </select>
        <label for="price">How clean are you?</label>
    </div>
    <div class="form-group">
        <label for="pets"></label>
        <input type="text" name="pets" value="<%= currentUser.pets %>" class="form-control" placeholder="What kind of pets do you have?">
    </div>
    <div class="form-group">
        <select name="smokes" id = "smokes">
            <option value = "0">No</option>
            <option value = "1">Yes</option>
        </select>
        <label for="smoking">Do you smoke?</label>
    </div>
    <div class="form-group">
        <select name="occupation" id ="occupation">
            <option value = "Professional">Professional</option>
            <option value = "Service">Service</option>
            <option value = "Corporate">Corporate</option>
            <option value = "Entrepenuer">Entrepenuer</option>
            <option value = "Unemployed">Unemployed</option>
        </select>
        <label for="occupation">What do you do?</label>
    </div>
    <input type="submit">
    </form>
</div>